%clrf:after{
	display: block;
	content: "";
	clear: both;
}
#Nav{
	height: 60px;
	width: 90%;
	margin: 0 auto;
	a{
		color: #666666;
		min-width: 88px;
		line-height: 60px;
		text-align: center;
		float: left;
	}
	a:hover{
		color: #ffffff;
		background-color: #f15555;
	}
	.menu , .menu-item{
		@extend %clrf;
		float: left;
	}
	// .menu-item-home > a{
	// 	color: #ffffff;
	// 	background-color: #f15555 !important;
	// }
	.current-menu-item > a{
		border-bottom: 2px solid #f15555;
		height: 58px;
		line-height: 60px;
	}
}
