#HomePosts{
	width: 100%;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	& > *{
		float: left;
		width: (100%/3);
		display: block;
		height: 260px;
	}
	.ui{
		background-color: #ff0000;
	}
	.front_end{
		background-color: #00ff00;
	}
	.notice{
		background-color: #0000ff;
	}
}
