#HomePosts{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 60px;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	& > *{
		float: left;
		width: (100%/3);
		display: block;
		height: 260px;
	}
	.ui{
		background-color: #eeeeee;
	}
	.front_end{
		background-color: #dddddd;
	}
	.notice{
		background-color: #eeeeee;
	}
}
